
.wrapper {
    background-color:rgb(238, 238, 249);
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.card {
    width: 1100px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
    box-shadow: 0px 4px 6px rgba(42, 41, 41, 0.351) !important;
    border-radius: 11px !important;
    border-style: hidden !important;
    backdrop-filter: blur !important;
    background-color: rgba(166, 210, 240, 0.804) !important;

}
